    {% extends 'layout.html' %}

    {% block content %}
    <!-- Banner Title -->
    {% include 'includes/blog_banner.html' %}
    <div class="service-area py-120">
        <div class="container">
            <div class="row">
                <!-- Makeup Categories -->
                {% include 'includes/makeup_categories.html' %}
                <div class="col-xl-8 col-lg-8">
                    <div class="service-details">
                        <div class="service-details-img mb-30">
                            <img src="{{ url_for('static', filename='images/blog/blog_pages/bridal-makeup.jpg')}}" alt="Молодая девушка со свадебным макияжем">
                        </div>
                        <div class="service-details">
                            <h3 class="mb-20">Свадебный макияж</h3>
                            <p class="mb-20">
                                <b>Свадебный макияж</b> - это один из самых важных аспектов подготовки невесты. При выборе следует
                                учитывать не только индивидуальные особенности лица, но и образ в целом и стиль праздника.
                                В последние годы становится все популярнее натуральный и свежий макияж, который не
                                перегружает лицо и придает ему естественный блеск, он подходит для различных типов кожи
                                и цветовых типов.
                            </p>
                            <p class="mb-0">
                                <b>Одним из основных правил</b> данного вида макияжа является его стойкость, он должен выдержать
                                все испытания: слезы радости, поцелуи, танцы и фотосессии. Поэтому необходимо подобрать
                                качественную косметику, которая не стирается и не скатывается в течение дня.
                            </p>
                            <p class="mb-0">
                                <b>Еще одним немаловажным правилом</b> является сочетание макияжа с прической и нарядом. Если у
                                невесты сложный образ или яркое платье, то лучше выбрать более нейтральный, с акцентом на
                                естественную красоту лица. Наоборот, если образ достаточно простой, то можно поэкспериментировать
                                с цветовыми решениями и техниками.
                            </p>
                            <p class="mb-0">
                                <b>Не стоит забывать</b> и об уходе за кожей перед свадьбой. Она должна быть увлажненной
                                и подготовленной. Поэтому, за несколько месяцев до мероприятия рекомендуется
                                провести курс уходовых процедур и следить за её состоянием.
                            </p>
                            <p class="mb-2">
                                <b>Обязательно сделайте</b> с выбранным визажистом пробный макияж, а лучше два: за месяц
                                и за неделю до свадьбы.
                            </p>
                            <p class="mb-20">
                                <b>В целом,</b> свадебный макияж требует творческого подхода, который поможет невесте выглядеть
                                великолепно в ее особенный день. Необходимо грамотно подобрать стиль и технику, которые
                                подчеркнут её красоту и дополнят образ, делая его неповторимым и запоминающимся.
                            </p>
                            <div class="row">
                                <div class="col-md-6 mb-20">
                                    <img src="{{ url_for('static', filename='images/blog/blog_pages/backstage-01.webp')}}" alt="">
                                </div>
                                <div class="col-md-6 mb-20">
                                    <img src="{{ url_for('static', filename='images/blog/blog_pages/backstage-02.webp')}}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
