    {% extends 'layout.html' %}

    {% block content %}
    <!-- Banner Title -->
    {% include 'includes/blog_banner.html' %}
    <div class="service-area py-120">
        <div class="container">
            <div class="row">
                <!-- Makeup Categories -->
                {% include 'includes/makeup_categories.html' %}
                <div class="col-xl-8 col-lg-8">
                    <div class="service-details">
                        <div class="service-details-img mb-30">
                            <img src="{{ url_for('static', filename='images/blog/blog_pages/evening-makeup.jpg')}}" alt="Молодая девушка с вечерним макияжем">
                        </div>
                        <div class="service-details">
                            <h3 class="mb-20">Вечерний макияж</h3>
                            <p class="mb-20">
                                <b>Вечерний макияж</b> - это настоящее искусство, которое помогает выглядеть женщине элегантно,
                                привлекательно и очаровательно на протяжении всего мероприятия. Он отличается от дневного
                                более насыщенными цветами, контрастами, более выраженными линиями и тонировкой, и, в целом,
                                более подчеркнутыми чертами.
                            </p>
                            <p class="mb-2">
                                <b><u>Основные шаги:</u></b>
                            </p>
                            <p class="mb-0">
                                <b>Подготовка кожи.</b> Прежде всего, необходимо очистить кожу лица от загрязнений и жировых
                                выделений, затем нанести увлажняющий крем или базу. Это гарантирует, что макияж будет
                                стойким и ухоженным в течение всего вечера.
                            </p>
                            <p class="mb-0">
                                <b>Основа.</b> Следующим этапом будет нанесение тонального крема или BB-крема, чтобы создать
                                ровное покрытие и скрыть недостатки. Затем можно применить корректор и пудру для фиксации.
                            </p>
                            <p class="mb-0">
                                <b>Основной акцент</b> делается на глазах. Для этого можно использовать тени ярких оттенков,
                                помаду, акцентировать внешний уголок глаз контурным карандашом или подчеркнуть ресницы тушью.
                                Не забудьте оформить брови, придав им форму и цвет, сочетающийся с тоном волос.
                                Нередко smoky eyes - являются идеальным выбором. Благодаря тому, что темные цвета создают
                                сильный контраст, лицо становится волнующим и немного загадочным.
                            </p>
                            <p class="mb-0">
                                <b>Щеки.</b> Для придания здорового сияния коже лица можно использовать румяна или хайлайтер
                                на скулы и подбородок.
                            </p>
                            <p class="mb-2">
                                <b>Губы.</b> Выбирая помаду, рекомендуется отдать предпочтение насыщенным палитрам или ярким
                                оттенкам. Контурный карандаш и блеск помогут сделать губы более объемными и обворожительными.
                            </p>
                            <p class="mb-2">
                                <b>Итак,</b> вечерний макияж - это уникальная возможность раскрыть свою красоту и женственность,
                                создавая неповторимый образ каждый раз. Помните, что основное правило - это умеренность и гармония.
                            </p>
                            <div class="row">
                                <div class="col-md-6 mb-20">
                                    <img src="{{ url_for('static', filename='images/blog/blog_pages/backstage-01.webp')}}" alt="">
                                </div>
                                <div class="col-md-6 mb-20">
                                    <img src="{{ url_for('static', filename='images/blog/blog_pages/backstage-02.webp')}}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
