    {% extends 'layout.html' %}

    {% block content %}
    <!-- Banner Title -->
    {% include 'includes/blog_banner.html' %}
    <div class="service-area py-120">
        <div class="container">
            <div class="row">
                <!-- Makeup Categories -->
                {% include 'includes/makeup_categories.html' %}
                <div class="col-xl-8 col-lg-8">
                    <div class="service-details">
                        <div class="service-details-img mb-30">
                            <img src="{{ url_for('static', filename='images/blog/blog_pages/everyday-makeup.jpg')}}" alt="Молодая девушка с дневным макияжем">
                        </div>
                        <div class="service-details">
                            <h3 class="mb-20">Дневной макияж</h3>
                            <p class="mb-20">
                                <b>Дневной макияж</b> играет ключевую роль в повседневном облике каждой женщины. Он помогает
                                подчеркнуть естественную красоту и создать свежий и ухоженный внешний вид. Быстрый,
                                неяркий, ненавязчивый - таким должен быть макияж на каждый день.
                            </p>
                            <p class="mb-2"><b><u>Основные правила следующие:</u></b></p>
                            <p class="mb-0">
                                <b>Подготовка кожи.</b> Прежде чем приступить, необходимо тщательно очистить и увлажнить кожу
                                лица. Это создаст идеальную базу для дальнейшего нанесения косметики.
                            </p>
                            <p class="mb-0">
                                <b>Под основу лучше использовать легкие текстуры:</b> тональный крем, консилер, пудру. Они
                                помогут выровнять тон и скрыть недостатки, не перегружая лицо.
                            </p>
                            <p class="mb-0">
                                <b>Натуральные оттенки.</b> Рекомендуются светлые и нейтральные оттенки теней, румян и помады.
                                Это сделает образ нежным и свежим.
                            </p>
                            <p class="mb-0">
                                <b>Акцент на глазах или губах.</b> Всегда лучше выбирать один акцент: либо подчеркнуть глаза, нанеся тушь
                                или тень, либо выделить губы яркой помадой.
                            </p>
                            <p class="mb-2">
                                <b>Незабываемый завершающий штрих.</b> Для завершения можно воспользоваться подводкой
                                для глаз, далее немного румян на скулы и блеск для губ.
                            </p>
                            <p class="mb-2">
                                <b>Важно помнить,</b> что главная цель - выглядеть свежо и естественно. Следуя простым правилам
                                каждая женщина сможет создать идеальный образ для повседневной жизни.
                            </p>
                            <div class="row">
                                <div class="col-md-6 mb-20">
                                    <img src="{{ url_for('static', filename='images/blog/blog_pages/backstage-01.webp')}}" alt="">
                                </div>
                                <div class="col-md-6 mb-20">
                                    <img src="{{ url_for('static', filename='images/blog/blog_pages/backstage-02.webp')}}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
