    {% extends 'layout.html' %}

    {% block content %}
    <!-- Banner Title -->
    {% include 'includes/blog_banner.html' %}
    <div class="service-area py-120">
        <div class="container">
            <div class="row">
                <!-- Makeup Categories -->
                {% include 'includes/makeup_categories.html' %}
                <div class="col-xl-8 col-lg-8">
                    <div class="service-details">
                        <div class="service-details-img mb-30">
                            <img src="{{ url_for('static', filename='images/blog/blog_pages/photo-shoot-makeup.jpg')}}" alt="Молодая девушка со шляпой с макияжем для фотосессии">
                        </div>
                        <div class="service-details">
                            <h3 class="mb-20">Для фотосессии</h3>
                            <p class="mb-20">
                                Важной частью <b>успешной фотосессии</b> является профессиональный макияж, который помогает
                                подчеркнуть красоту модели, выгодно выделить ее черты лица на фотографиях и создать
                                желаемый образ. Такой вид макияжа отличается от повседневного, так как требует специального
                                подхода и учета нюансов стиля съёмки, освещения и нужного эффекта.
                            </p>
                            <p class="mb-0">
                                <b>Первый шаг</b> - выбор подходящего тонального средства. Оно должно быть матовым, без
                                светоотражающих частиц, чтобы избежать нежелательного блика на снимках. Также следует
                                учитывать естественные оттенки кожи и грамотно подобрать оттенок тональной основы, чтобы
                                сделать идеальное покрытие.
                            </p>
                            <p class="mb-0">
                                <b>Особый акцент</b> на выравнивание тона кожи, сокрытие недостатков и подчеркивание
                                естественной красоты лица. Для этого используются консилеры, пудры и корректоры, с помощью
                                которых можно сделать ровную поверхность кожи под фотокамеру. Кроме того, контуринг подчеркнёт
                                черты лица и создаст его объем, что особенно актуально при фотографировании.
                            </p>
                            <p class="mb-0">
                                <b>Глаза играют ключевую роль,</b> поэтому особое внимание уделяем глазам.
                                Выразительные ресницы, правильно подобранные тени и подводка создадут интригующий и привлекательный
                                взгляд на фотоснимках. Главное - макияж для фотосессии должен быть более насыщенным и ярким,
                                чем обычно, чтобы учесть особенности фотографии и ее восприятия.
                            </p>
                            <p class="mb-20">
                                <b>Не стоит забывать и о губах</b> - они также играют неоспоримую роль в создании образа
                                для съёмки. Правильно подобранные помада или блеск завершат его и добавят женственности и
                                выразительности.
                            </p>
                            <p class="mb-20">
                                <b>Итак,</b> перед фотосъемкой необходимо провести тщательную подготовку кожи, идеально подобрать
                                продукты и технику нанесения, чтобы добиться высокого результата на снимках. Профессиональный
                                макияж для фотосессии поможет выглядеть ухоженной и обаятельной на изображениях, сохраняя
                                натуральность и индивидуальность.
                            </p>
                            <div class="row">
                                <div class="col-md-6 mb-20">
                                    <img src="{{ url_for('static', filename='images/blog/blog_pages/backstage-01.webp')}}" alt="">
                                </div>
                                <div class="col-md-6 mb-20">
                                    <img src="{{ url_for('static', filename='images/blog/blog_pages/backstage-02.webp')}}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
