    {% extends 'layout.html' %}

    {% block content %}
    <!-- Banner Title -->
    {% include 'includes/blog_banner.html' %} }
    <div class="service-area py-120">
        <div class="container">
            <div class="row">
                <!-- Makeup Categories -->
                {% include 'includes/makeup_categories.html' %}
                <div class="col-xl-8 col-lg-8">
                    <div class="service-details">
                        <div class="service-details-img mb-30">
                            <img src="{{ url_for('static', filename='images/blog/blog_pages/lifting-makeup.jpg')}}" alt="Женщина с лифтинг-макияжем">
                        </div>
                        <div class="service-details">
                            <h3 class="mb-20">Лифтинг-макияж</h3>
                            <p class="mb-20">
                                <b>Лифтинг-макияж</b> - это инновационная техника нанесения макияжа, которая имитирует эффект
                                лифтинга и придает коже молодой и свежий вид. Этот метод становится все популярнее среди
                                профессиональных визажистов и обычных женщин, желающих выглядеть привлекательно и ухоженно.
                            </p>
                            <p class="mb-0">
                                <b>Основная идея</b> заключается в создании определенных контуров и объемов с помощью косметики.
                                Специальные продукты, такие как тональные основы с эффектом лифтинга, хайлайтеры, контурные
                                карандаши и пудры, помогают скорректировать форму лица, подчеркнуть скулы, уменьшить недостатки
                                и придать коже свежесть.
                            </p>
                            <p class="mb-0">
                                <b>Одним из ключевых элементов</b> данного вида макияжа является правильное распределение
                                света и теней. Использование специальных техник нанесения, таких как, например, контуринг,
                                позволяет достичь максимального результата.
                            </p>
                            <p class="mb-0">
                                <b>Лифтинг-макияж подходит</b> как на каждый день, так и для особых событий, таких как свадьба
                                или фотосессия. Он помогает выглядеть свежо и ухоженно в течение всего дня, сохраняя
                                эффект лифтинга даже при длительном ношении.
                            </p>
                            <p class="mb-20">
                                <b>Следует отметить,</b> что лучше довериться опытному специалисту, который знает все
                                тонкости и подберет подходящую технику и косметику, учитывая именно ваши анатомические особенности.
                            </p>
                            <p class="mb-20">
                                <b>С помощью возрастного макияжа</b> невозможно повлиять на естественный процесс старения, но
                                грамотно подобранные продукты и методы позволяют визуально омолодить лицо, скорректировать
                                мелкие недостатки.
                            </p>
                            <div class="row">
                                <div class="col-md-6 mb-20">
                                    <img src="{{ url_for('static', filename='images/blog/blog_pages/backstage-01.webp')}}" alt="">
                                </div>
                                <div class="col-md-6 mb-20">
                                    <img src="{{ url_for('static', filename='images/blog/blog_pages/backstage-02.webp')}}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
