<div class="col-xl-4 col-lg-4">
                    <div class="widget category">
                        <h4 class="widget-title">Узнать про</h4>
                        <div class="category-list">
                            <a href="{{ url_for('blog.blog_everyday')}}"><i class="fa-solid fa-angle-right"></i>Дневной макияж</a>
                            <a href="{{ url_for('blog.blog_evening')}}"><i class="fa-solid fa-angle-right"></i>Вечерний макияж</a>
                            <a href="{{ url_for('blog.blog_lifting')}}"><i class="fa-solid fa-angle-right"></i>Лифтинг-макияж</a>
                            <a href="{{ url_for('blog.blog_bridal')}}"><i class="fa-solid fa-angle-right"></i>Свадебный макияж</a>
                            <a href="{{ url_for('blog.blog_photo_shoot')}}"><i class="fa-solid fa-angle-right"></i>Для фотосессии</a>
                            <a href="{{ url_for('blog.blog_magazines')}}"><i class="fa-solid fa-angle-right"></i>Публикации в журналах</a>
                        </div>
                    </div>
                </div>